//Colors
$primary: #00af92;
$secondary: rgb(255, 145, 0);
$black: #000000;
$white: #ffffff;
//Font Size
$linkFS: 1.2rem;
$buttonFS: 1.4rem;
//Breakpoints
$xxxs: 320px;
$xxs: 400px;
$xs: 600px;
$sm: 768px;
$md: 1000px;
$lg: 1200px;
$xl: 1400px;
$xxl: 2000px;
